/* Header */

.header {
    justify-content: space-between;
    padding: 0.8rem 3rem;
    z-index: 2;
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%),
        0 25px 10px -24px rgb(5 5 5 / 10%);
}

nav.nav_menu {
    display: flex;
}

nav.nav_menu a {
    font-size: 1.6rem;
    padding: 0.5rem;
    color: var(--crem);
    font-family: "Kanit";
    text-decoration: none;
    letter-spacing: 0.2rem;
    right: 0;
    margin-right: 2.5rem;
}

nav.nav_menu a:hover,
nav.nav_menu a.active {
    color: var(--hover);
    padding: 0.5rem;
    border-bottom: 1px solid var(--hover);
    transition: all 0.5s;
}

nav.nav_menu.not-active a {
    display: flex;
}

nav.nav_menu.not-active .flags {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}

nav.nav_menu.not-active .flags__item {
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .flags__item img {
    width: 3rem;
    display: block;
}

div.btn {
    display: none;
}

/* Home */

.home {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4rem;
    height: 100vh;
}

.container_image-home {
    width: 55%;
    padding-right: 4rem;
}

.image_home {
    object-fit: contain;
}

.home_info {
    width: 40%;
    padding-left: 6rem;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 0.2rem;
    text-align: start;
    margin-top: 6rem;
}

.home_text-1 {
    font-size: 3.5rem;
    margin-left: 0.4rem;
    font-weight: bold;
}

.home_text-2 {
    font-size: 6rem;
    font-weight: bold;
    color: var(--crem);
}

.home_text-3 {
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
    width: 35rem;
    letter-spacing: 0.2rem;
}

.container_parrafo-info {
    display: inline-block;
    text-align: start;
}

.container_parrafo-info p {
    font-family: "Winky";
    color: var(--light-grey);
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

.container_button {
    display: flex;
}

.git_button {
    background: none;
    color: var(--light-grey);
    border: 1px solid var(--light-grey);
    margin-right: 1rem;
    transition: 0.2s;
}

.git_button:hover {
    background: var(--black);
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.contact_button {
    display: inline-block;
    background-color: var(--white);
    border-radius: 3rem;
    padding: 0.7rem 4rem 0.6rem 4rem;
    color: var(--jet);
    font-family: "Skranji";
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 2rem 0 2rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.contact_button:hover {
    background-color: var(--light-grey);
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.links {
    width: 5%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3rem 2rem 3rem;
}

.links img {
    margin: 0.7rem 0 0.7rem 0;
}

.links .icon-CodePen {
    margin: 0.7rem 0 0.7rem 0.2rem;
}

/* Sobre Mí */

.sobrenoso {
    padding-bottom: 6rem;
}

.sobrenoso h1 {
    margin-top: 0rem;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.container_content-sobrenoso {
    flex-direction: row-reverse;
}

.container_texto-sobrenoso {
    width: 70%;
    padding: 2rem 5% 0 3rem;
}

.title_sobrenoso {
    text-align: start;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
}

.texto_sobrenoso {
    text-align: start;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 2.8rem;
    padding-top: 1rem;
}

/* Habilidades */

.cards--habilidades {
    filter: saturate(20%);
}

.habilidades {
    padding-bottom: 8rem;
    position: relative;
}

.habilidades h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.puntos1-habilidades {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 15rem 0 0 20%;
    background-attachment: fixed;
}

.puntos2-habilidades {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 0 0 0 76%;
}

.cards_container--habilidades {
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: 14rem 14rem;
    padding: 0;
    margin-top: 2rem;
}

.cards--habilidades:hover {
    filter: saturate(100%);
    border: 1px solid var(--beaver);
    transition: all 1s;
}

.cards--habilidades p {
    font-size: 1.6rem;
    margin-top: 0.8rem;
}

/* Servicios */

.services h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.puntos1-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 20rem 0 0 1%;
    background-attachment: fixed;
}

.puntos2-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: -3rem 0 0 93%;
}

.cards_container--services {
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.cards--services {
    width: 40rem;
    height: 47rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem;
    z-index: 1;
}

.cards--services:hover {
    transform: scale(1.5);
    position: relative;
    top: -5px;
    border: 1px solid var(--crem);
}

.text-portafolio {
    margin-top: -3rem;
}

.container_btn--services button {
    width: auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.btn_repo {
    transition: 0.6s;
}

.container_btn--services .btn_repo:hover {
    background: var(--black);
    border: 1px solid var(--black);
    transition: 0.6s;
}

/** Planes y Precios **/

.cards_container--plans {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
}

.container_imgcard--plan img {
    height: 144px;
    width: 144px;
    filter: drop-shadow(0 10px 16px -6px rgb(8 8 8 / 10%));
    margin-top: 3rem;
    }

.card_plan--carac {
    color: transparent;
    padding: .5rem;
}

.cards--plan {
    min-width: 40rem;
    max-width: 45rem;
}

.parraf-right {
    text-wrap: wrap;
    font-size: 1.7rem;
    padding: 50px;
    border: 2px #fff solid;
    font-family: 'Winky';
    letter-spacing: 1.5px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 44%;
    height: 40%;
    position: relative;
    top: 20rem;
    left: 10rem;
    background-color: var(--crem);
    color: var(--jet);
    border-radius: 10px;
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%),
        0 25px 10px -24px rgb(5 5 5 / 10%);
}

.parraf-left {
    text-wrap: wrap;
    font-size: 1.7rem;
    padding: 50px;
    border: 2px #fff solid;
    font-family: 'Winky';
    letter-spacing: 1.5px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 44%;
    height: 40%;
    position: relative;
    top: 20rem;
    left: -10rem;
    background-color: var(--crem);
    color: var(--jet);
    border-radius: 10px;
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%),
        0 25px 10px -24px rgb(5 5 5 / 10%);
}

.card-start {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    margin-left: 10rem;
}

.card-end {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    margin-right: 10rem;
}

/* Contacto */

.contacto h1 {
    padding: 8rem 0 2.5rem 0;
    font-size: 3rem;
}

.container_box--contacto {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.container_img--contacto {
    display: inline-block;
    width: 60rem;
    display: flex;
    justify-content: center;
}

.container_img--contacto img {
    width: 50rem;
    object-fit: contain;
}

.container--contacto {
    width: 50%;
    margin: 0;
    padding: 4rem 3rem;
}

/* MEGA PROYECTO HDP */

@media screen and (min-width: 980px) {
    .org h1 {
        display: block;
        text-align: center;
        color: var(--white);
        font-family: "Skranji";
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        padding-top: 5rem;
        margin-bottom: 10rem;
    }

    .card-face h2 {
        color: var(--crem);
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 20px;
        margin-left: 25%;
        position: relative;
        letter-spacing: 0.2rem;
        width: 220px;
        text-align: start;
    }

    .card-face p {
        padding: 3px;
        cursor: pointer;
        font-size: 1.2rem;
        font-family: "Winky";
    }

    .card-back p {
        margin-top: 20px;
    }

    .org {
        width: 100%;
        height: auto;
        background: var(--jet);
        padding: 1rem;
        padding-bottom: 15rem;
    }

    .org-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
        margin-left: 45px;
    }

    .scene {
        width: 100%;
        height: 40vh;
    }

    .card {
        width: 95%;
        height: 80%;
        transition: 0.8s;
        margin: 5rem 2rem;
        font-family: "Skranji";
        font-size: 1.5rem;
        color: var(--crem);
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: row;
    }

    .card-face {
        width: 37%;
        height: 100%;
        background: var(--black);
        border-radius: 12px;
        border: solid 1px var(--jet);
        box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%),
            0 25px 10px -24px rgb(5 5 5 / 10%);
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card-front img {
        max-width: 80%;
        max-height: 150px;
        object-fit: contain;
        margin-bottom: 4rem;
        margin-top: 0;
        filter: drop-shadow(0 10px 16px -6px rgb(8 8 8 / 10%));
        margin-right: 4rem;
    }

    .card-back {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cf-1_left::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 97%;
        width: 20px;
        height: 20px;
        background: var(--crem);
        border-radius: 50%;
        border: 4px solid var(--black);
        z-index: 1;
    }

    .cf-1_right::before {
        content: "";
        position: absolute;
        top: 15px;
        right: 97%;
        width: 20px;
        height: 20px;
        background: var(--crem);
        border-radius: 50%;
        border: 4px solid var(--black);
        z-index: 1;
    }

    .corner-button {
        bottom: 10px;
        padding: 8px 14px;
        border: none;
        font-family: "Skranji";
        font-weight: normal;
        letter-spacing: 0.1rem;
        border-radius: 6px;
        color: var(--crem);
        background: none;
        border: solid 1px var(--crem);
        font-size: 0.9rem;
        cursor: pointer;
        transition: 0.7s;
        margin-top: 5px;
    }

    .corner-button:hover {
        background-color: var(--jet);
        border: solid 1px var(--jet);
        transition: 0.7s;
    }

    .bt-ocultar {
        position: relative;
        top: 25px;
    }

    .corner-button p {
        font-family: "Skranji";
    }

    .card-back h2::after {
        content: "|";
        font-weight: 100;
        position: absolute;
        width: 110%;
        right: -14px;
        color: var(--jet);
        background-color: var(--black);
        animation: typing 3s steps(12) alternate infinite;
    }

    .cf-1_right {
        position: relative;
        left: 56%;
    }

    .cf-2_left {
        position: relative;
        right: 41%;
    }

    .cf-1_left {
        position: relative;
        right: 1%;
    }

    .cf-2_right {
        position: relative;
        left: 16%;
    }

    .card-back {
        display: flex;
    }

    .img-esp {
        width: 150px;
        height: 150px;
        margin: 0;
    }

    .timeline {
        position: relative;
    }

    .timeline::before {
        content: "";
        position: absolute;
        top: 20rem;
        bottom: 0;
        left: 48%;
        width: 10px;
        background: #ccc;
        transform: translateX(-50%);
        z-index: 1;
        background-color: var(--black);
        height: 85%;
        border-radius: 5px;
    }

    .crd-hdn {
        display: none;
    }

    /* Estado oculto */
    .crd-hdn {
        display: none;
    }

    /* Animación entrada */
    .animate-fade-right {
        animation: fadeRight 1s forwards;
        display: block;
    }

    /* Animación salida */
    .animate-fade-left {
        animation: fadeLeft 1s forwards;
    }

    @keyframes fadeRight {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }
        to {
            opacity: 1;
            transform: translateX(37px);
        }
    }

    @keyframes fadeLeft {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(-50px);
        }
    }
}
