/* Header */

nav.nav_menu.active {
    width: 50%;
    margin-left: 50%;
    top: 5.9rem;
}

/* Home */

.image_home {
    max-width: 50rem;
}

.home_text-1 {
    margin-right: 1rem;
    font-size: 2.4rem;
}

.home_text-2 {
    font-size: 3.6rem;
}

/* Sobre mi */

.sobrenoso {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_content-sobrenoso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_texto-sobrenoso {
    padding: 4rem;
}

.title_sobrenoso {
    font-size: 3rem;
}

.texto_sobrenoso {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.container_image-sobrenoso {
    width: 65%;
    margin-top: 2rem;
}

/* Habilidades */

.cards_container--habilidades {
    column-gap: 4rem;
}

/* Proyectos */

.cards--services {
    max-width: 48rem;
}

.container_btn--services button {
    width: 20.6rem;
}

/* Contacto */
.container--contacto {
    margin: 0 auto;
    width: 80%;
}

/* Organizacion */
.card {
    width: 40%;
    height: 80%;
}

/** ASISTENTE IA **/

.chat-button {
    width: 60px;
    height: 60px;
}

.chat-icon {
    width: 25px;
    height: 25px;
}

.chat-box {
    bottom: 90px;
    right: 20px;
    width: 360px;
    max-height: 600px;
}

.chat-header {
    font-size: 18px;
}

.chat-messages {
    font-size: 1.7rem;
}

.chat-input input {
    padding: 15px;
    font-size: 15px;
}

.chat-input button {
    padding: 14px 18px;
}

.chat-options button {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    font-size: 14px;
    font-size: 1.5rem;
}

.input-group input {
    width: 100%;
    font-size: 14px;
}

.input-group button {
    padding: 10px;
    font-size: 14px;
    width: 100%;
}